<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <div
      class="min-h-screen max-w-3xl flex flex-col justify-center align-center m-auto"
    >
      <h1 class="text-center text-2xl text-bold mb-6">Something went wrong!</h1>
      <p class="text-center text-md">
        An error occurred while processing your request.
      </p>
      <a
        class="mt-24 text-center text-white bg-sky-500 p-2 rounded-sm hover:bg-sky-600"
        href="/"
        >Go back to home</a
      >
    </div>
  </body>
</html>
