<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex gap-4 min-h-screen">
      <%- include('sidebar') %>
      <div class="flex flex-col">
        <h3 class="text-2xl font-light mb-6 mt-6">
          <%= selectedCategory %> books
        </h3>
        <div class="mb-6">
          <a
            class="inline-block text-center text-white bg-sky-500 p-2 rounded-sm hover:bg-sky-600"
            href="<%= addBookUrl %>"
            >Add book</a
          >
        </div>
        <ul class="flex gap-4 flex-wrap">
          <% items.forEach((item) => { %> <%- include('itemCard', {item: item});
          %> <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
