<div class="flex flex-col max-w-xs bg-sky-800">
  <h1 class="text-xl font-bold p-6 text-white bg-sky-900">Books Inventory</h1>
  <div class="flex flex-col">
    <button class="m-6 text-white bg-sky-500 p-2 rounded-sm hover:bg-sky-600">
      Category 1
    </button>
    <button class="m-6 text-white bg-sky-500 p-2 rounded-sm hover:bg-sky-600">
      Category 2
    </button>
    <button class="m-6 text-white bg-sky-500 p-2 rounded-sm hover:bg-sky-600">
      Category 3
    </button>
  </div>
</div>
