<div class="flex flex-col min-w-3xs bg-sky-800">
  <h1 class="text-xl font-bold p-6 text-white bg-sky-900">Books Inventory</h1>
  <div class="flex flex-col">
    <% categories.forEach((category) => { %> <%- include('categoryButton',
    {category: category}); %> <% }) %>
  </div>
</div>
